
header{

  background-image: url("img/Header.jpg");
  background-size: cover;  
  background-position: center;

  height: 300px;  
  max-width: 1200px;
  margin: 0px auto;        /* centrerar layouten */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

main{

  display: grid;
  grid-template-columns: 250px 1fr;  /* 250px meny | resten innehåll */

  max-width: 1200px;
  margin: 0px auto;      /* centrerar layouten */
 
  align-items: start;  /* hindrar höjden på main från att strechas tillsammans med sidemenu*/
}

header h2{
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
  padding-top: 10px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

header h1{
  text-align: center;
  font-size: 65px;
  margin-top: 5px;
  color: red;
  text-shadow: 1px 1px 5px black;
}

.sidebar{
  
  background-image: url("img/Sidebar.png");
  background-size: cover;
  background-position: center;

  min-height: 100vh;      /* hela fönstrets höjd */
  padding-left: 15%;

  line-height: 40px;
  color: white;
}

.sidebar h3 {
  text-align: center;         
  margin: 0 0 15px 0;         /* ta bort default margins samt ha kvar lite luft under rubriken */
  font-size: 30px;         
  font-weight: 700;
  color: red;             
  text-shadow: 1px 1px 4px black; /*Skugga*/

  border-bottom: 2px solid rgba(255,255,255,0.2);  /* tunn linje under */
  display: inline-block;    /* gör att linjen inte fyller hela sidomenyn */
  padding-bottom: 2px;        /* luft ovanför meny linjen */
}

.sidebar ul {
  list-style: none;       /* ta bort punkter */
  padding: 0;            /*bort med default padding*/
}


.sidebar a {

  padding-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  transition: all 0.5s ease;  /*en mjuk övergång när muspekare står över*/  
} 


.sidebar a:hover {
  background: rgba(225, 6, 0, 0.85); /* ändrar färg när muspekare är över länk */
}

.sidebar li {
  margin-bottom: 25px;    /* mellanrum mellan länkar */
}


section {
  background: rgba(20, 28, 36, 0.9);  /* mörkgrå med en opacity*/
  color:white;                      
  padding: 30px;
  margin: 50px auto 0;
  border-radius: 10px;                  /* mjuka hörn */
  box-shadow: 0 14px 25px rgba(0,0,0,.75);
  width: 70%;           /* sätter faktiskt bredden */
}

section h3{
  color: #ff716c;                        /* F1-rött till rubriker */
  margin-top: 0;
}

footer {
  background: #141c24;
  color: #ccc;
  text-align: center;
  padding: 20px 0px;
  
  border-top: 2px solid rgba(255,255,255,0.1);
  font-size: 14px;
  max-width: 1200px;
   margin: 0px auto; 
}

.footParagraf a{
  color: white;
}